.no-padding{
    padding:0px;
}
.abtusbnr img{
    width:100%;
}
.abtusbnr{
    position: relative;
}
.pagetxt{
    position: absolute;
    top: 0px;
    color: #000000;
    padding-top: 15px;
    font-size: 15px;
    font-weight: 600;
}
.abttxt{
    position: absolute;
    bottom: -7px;
}
.innertxt{
    position: absolute;
    top: 10px;
    text-align: center;
}
.innertxt h2{
    position: absolute;
    left: 40%;
    font-size: 26px;
    color: #ffffff;
    font-weight: bolder;
}
.innertxt p{
    width: 90%;
    padding-top: 60px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    margin-left: 7%;
}
.articleblk{
    background-image: url(../images/whiteptrn.png);
    background-repeat: repeat;
    min-height: 337px;
}
.topbox{
    margin-top: 20px;
}
.topbox h3{
    color: #000;
    font-weight: 700;
    font-size: 19px;
}
.topbox p{
    text-align: justify;
    color: #8b8b8b;
    font-size: 15px;
}
.btmblk h3{
    float: left;
    width: 100%;
}
.box1{
    background: #88d2df;
    padding: 10px 20px;
}
.toprow{
    color: #fff;
    margin-bottom: 10px;
}
.headtxt{
    font-size: 16px;
    font-weight: 500;
}
.box2{
    background: #fcca56;
    padding: 10px 20px;
}
.box3{
    background: #f3768f;
    padding: 10px 20px;
}
.box4{
    background: #be86e5;
    padding: 10px 20px;
}
.box5{
    background: #fb9c82;
    padding: 10px 20px;
}
.box6{
    background: #5ed783;
    padding: 10px 20px;
}
.btmtxt{
    color: #000;
    font-weight: 700;
    font-size: 12px;
}
.abt{
 background-image: url("../images/bg1.png");
    height: 136px;
    margin: 33px 0;
    padding: 7px 20px 0px;
   
}
.buy{
    float: left;
    text-align: center;
    margin-right: 15px;
     margin-top: 20px;
}
.buy h1{
    margin-top: 0px;
    color: #eec33f;
    font-size: 30px;
}
.buy h4{
   font-size: 21px;
    margin-bottom: 0px;
}
.log{
   margin-top: 30px; 
}
.log h4{
    margin-top: 0px;
    font-size: 29px;
}
.log p{
    margin-bottom: 0px;
}
.btmlogo{
    margin-top: 40px;
    text-align: right;
}
.contactusbnr{
     background-image: url(../images/whiteptrn.png);
    background-repeat: repeat;
    min-height: 337px;
}
.contactusbnr .pagetxt{
    position: inherit;
}
.contactform{
    -webkit-box-shadow: -2px 3px 26px 5px rgba(234,235,239,1);
    -moz-box-shadow: -2px 3px 26px 5px rgba(234,235,239,1);
    box-shadow: -2px 3px 26px 5px rgba(234,235,239,1);
    background: #fff;
    padding: 20px;
    width: 72%;
        float: left;
}
.contactform p{
    color: #000;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
   
}
.contactform select{
    width: 100%;
    padding: 5px 5px;
    border: 1px solid #ddd;
}
.contactform input{
    width: 100%;
    padding: 5px 5px;
    border: 1px solid #ddd;
}
.contactform textarea{
    width: 100%;
    padding: 5px 5px;
    border: 1px solid #ddd;
    height: 341px;
}
.contactform label{
    margin-bottom: 2px;
    color: #000;
    font-size: 13px;
    margin-top: 15px;
}
.contactblk h3{
    font-weight: 700;
}
.submitbtn button{
    margin-top: 25px;
    border: 0px;
    padding: 5px 25px;
    color: #fff;
    background: #f66c07;
}
.adblk{
    width: 27.3%;
    float: right;
    background: #fff;
    border: 1px solid #ddd;
    padding: 5px 0px 5px 5px;
}
.sites ul li{
    display: inline-block;
}
.sites ul{
    padding-left: 0px;
    margin-bottom: 15px;
}
.ofrbox{
    float: left;
    width: 100%;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 8px -4px #f2f2f4;
}
.ad{
    margin: 30px 0px 10px;
}
.ofrbox h5{
    color: #000;
    font-weight: 700;
}
.capcha{
    text-align: center;
    margin-top: 10px;
    float: left;
    width: 100%;
}
.submitbtn{
    text-align: center;
}
@media(max-width:1200px) and (min-width:992px){
    .innertxt p{font-size: 17px;}
    .buy h4 {font-size: 15px;}
    .buy h1 {font-size: 20px;}
    .btmblk .no-padding{padding: 0px 15px;}
    .adblk {width: 30%;padding: 5px 5px 5px 5px;}
    .contactform{width: 69%;}
}
@media(max-width:992px) and (min-width:768px){
    .innertxt p{padding-top: 53px;font-size: 14px;}
    .abt img{width: 100px;}
    .buy h4 {font-size: 15px;}
    .buy h1 {font-size: 20px;}
    .btmblk .no-padding{padding: 0px 15px;}
    .box2{margin: 10px 0px;}
    .box5{margin: 10px 0px;}
    .adblk {width: 34.3%;padding: 5px 5px 5px 5px;}
    .contactform{width: 65%;}
}

@media(max-width:768px) and (min-width:480px){
    .innertxt p{padding-top: 51px;font-size: 13px;}
    .innertxt h2{left: 37%; font-size: 20px;}
    .innertxt{top: -10px;}
    .abtusbnr img{ min-height: 270px;}
    .abttxt img{ min-height: 170px;}
    .btmblk .no-padding{padding: 0px 15px;}
    .box2{margin: 10px 0px;}
    .box5{margin: 10px 0px;}
    .btmblk > p {text-align: justify;}
    .btmtxt{text-align: justify;}
    .abt{ height: 389px;}
    .log {margin-top: 72px;text-align: left;}
    .btmlogo { margin-top: 79px;text-align: left;padding-left: 16px;}
    .abt img{width: 100px;}
    .buy h4 {font-size: 15px;}
    .buy h1 {font-size: 20px;}
    .adblk {width: 49%;padding: 5px 5px 5px 5px;float:left;margin-top: 20px;margin-left: 25%;}
    .contactform{width: 100%;}
}
@media(max-width:480px) and (min-width:320px){
    .innertxt p{padding-top: 51px;font-size: 11px;}
    .innertxt h2{left: 33%; font-size: 20px;}
    .innertxt{top: -10px;}
    .abtusbnr img{ min-height: 270px;}
    .abttxt img{ min-height: 170px;}
    .btmblk .no-padding{padding: 0px 15px;}
    .box2{margin: 10px 0px;}
    .box5{margin: 10px 0px;}
    .btmblk > p {text-align: justify;}
    .btmtxt{text-align: justify;}
    .abt{ height: 389px;}
     .abt img{width: 120px;}
    .log {margin-top: 72px;text-align: left;}
    .btmlogo { margin-top: 79px;text-align: left;padding-left: 16px;}
     .adblk {width: 49%;padding: 5px 5px 5px 5px;float:left;margin-top: 20px;margin-left: 25%;}
    .contactform{width: 100%;}
}
@media screen and (min-width: 320px) and (max-width: 480px) and (orientation : landscape){
    
}