@font-face {
	font-family: 'bodoniflfregular2';
	src: url('../fonts/bodoniflf-roman-webfont.eot');
	src: url('../fonts/bodoniflf-roman-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/bodoniflf-roman-webfont.woff2') format('woff2'), url('../fonts/bodoniflf-roman-webfont.woff') format('woff'), url('../fonts/bodoniflf-roman-webfont.ttf') format('truetype'), url('../fonts/bodoniflf-roman-webfont.svg#bodoniflfregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'GE Inspira';
	src: url('../fonts/GEInspira.eot');
	src: url('../fonts/GEInspira.eot?#iefix') format('embedded-opentype'), url('../fonts/GEInspira.woff') format('woff'), url('../fonts/GEInspira.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'berkshire_swashregular';
	src: url('../fonts/berkshireswash-regular-webfont.eot');
	src: url('../fonts/berkshireswash-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/berkshireswash-regular-webfont.woff2') format('woff2'), url('../fonts/berkshireswash-regular-webfont.woff') format('woff'), url('../fonts/berkshireswash-regular-webfont.ttf') format('truetype'), url('../fonts/berkshireswash-regular-webfont.svg#berkshire_swashregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'bodoniflfregular';
	src: url('../fonts/bodoniflf-bold-webfont.eot');
	src: url('../fonts/bodoniflf-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/bodoniflf-bold-webfont.woff2') format('woff2'), url('../fonts/bodoniflf-bold-webfont.woff') format('woff'), url('../fonts/bodoniflf-bold-webfont.ttf') format('truetype'), url('../fonts/bodoniflf-bold-webfont.svg#bodoniflfbold') format('svg');
	font-weight: normal;
	font-style: normal;
}
body {
	font-family: GE Inspira;
}
.no-padding {
	padding: 0;
}
.top-right-menu {
	margin-bottom: 6px;
	margin-top: 8px;
}
.menu-list-top {
	margin-right: 4px;
	margin-top: 6px;
}
.top-right-menu .btn {
	font-weight: bold;
	font-size: 11px;
	margin-left: 2px;
}
.header-right {
	margin-bottom: 13px;
	margin-top: 10px;
}
.menu-list-top li a {
	color: #393939;
	font-size: 12px;
}
.search-btn {
	background-color: #ff6707;
	color: #fff;
	text-shadow: 0 0 2px #444;
	font-weight: bold;
}
.search-div .form-control {
	border: 1px solid #e3e3e3;
	height: 45px;
	font-size: 15px;
}
.input-group-btn button {
	border: 1px solid;
	border-radius: 5px !important;
	float: left;
	margin-left: 1px !important;
	margin-top: -1px;
	padding: 12px 20px;
}
.logo {
	margin-top: 33px;
	float: left;
}
.nav.navbar-nav a {
	color: #fff !important;
	font-family: GE Inspira;
	font-size: 18px;
	font-weight: bold;
	text-shadow: 0 1px 2px #222;
}
.navbar-inverse {
	background-color: #572c73;
}
.jumbotron {
	background-color: #000;
	padding: 0;
	margin-bottom: 0;
}
.nav.navbar-nav li:first-child a {
	padding-left: 0;
}
.content-bg {
	background-image: url(../images/bg-pattern.jpg);
}
.offer-hd {
	font-family: berkshire_swashregular;
}
.list-item-top {
	background-color: #fff;
	border: 1px solid #e3e3e3;
	float: left;
	height: 80px;
	width: 100%;
}
.list-item-cntnt {
	background: rgba(255, 255, 255, 0.4) none repeat scroll 0 0;
	border: 1px solid #fff;
	float: left;
	height: 275px;
	width: 100%;
	position: relative;
	margin-bottom: 30px;
}
.box-style1 p {
	font-size: 17px;
	margin-top: 20px;
}
.box-style1 p span {
	color: #C52279
}
.box-style1 p b {
	color: #CF4A0E
}
.btn-pink {
	background-color: #ffbdce;
	border: 1px solid #e89db1;
	bottom: 15px;
	color: #671b2f;
	font-size: 14px;
	font-weight: bold;
	left: 6%;
	padding: 13px 15px;
	position: absolute;
	text-align: center;
	width: 88%;
}
.list-item-top > img {
	margin-top: 13px;
}
.box-style2 {
	text-align: left;
}
.box-style2 ul {
	margin-top: 20px;
}
.bottom-section {
	height: 460px;
	background-image: url(../images/bottom-bg.jpg);
	position: relative;
}
.model-girl1 {
	position: absolute;
	right: 0;
}
.bottom-steps span {
	color: #edbca3;
	float: left;
	font-size: 37px;
	margin-top: 34px;
	text-align: left;
	width: 10%;
}
.bttm-step {
	float: left;
	width: 90%;
	margin-top: 13px;
}
.bttm-step h5 {
	font-size: 22px;
	font-weight: bold;
	color: #d50d61;
	font-family: berkshire_swashregular;
}
.bottom-section h3 {
	font-size: 35px;
	font-family: berkshire_swashregular;
}
.newsletter {
	background-image: url("../images/newsletter-gb.png");
	color: #fff;
	height: 136px;
	margin: 33px 0;
}
span.newsletter-txt {
	float: left;
	font-size: 20px;
	margin-left: 4%;
	margin-top: 37px;
	width: 41%;
}
.newslettr-hd {
	float: left;
	font-size: 18px;
	margin-top: 34px;
	width: 100%;
	font-family: berkshire_swashregular;
}
.newsletter input[type="text"] {
	border: 0 none;
	padding: a;
	height: 36px;
	border-radius: 0;
}
.newslttr-form .btn.btn-default {
	border: 0 none;
	border-radius: 1px !important;
	font-size: 12px;
	font-weight: bold;
	margin-top: 0;
	padding: 10px 20px 9px;
}
footer ul {
	list-style: none;
}
footer {
	background-color: #dddcfc !important;
	padding: 25px;
}
footer ul li a {
	color: #3d3d48;
	font-size: 14px;
	line-height: 24px;
	font-family: GE Inspira;
}
.footer-logo {
	margin-bottom: 26px;
}
.link-footer {
	margin-top: 27px;
	float: left
}
.social-media {
	margin-top: 17px;
}
.footer-bottom.text-center {
	background: #fff none repeat scroll 0 0;
	padding: 22px 0;
	border-top: 1px solid #c3c2e6;
}
.footer-bottom a {
	color: #eb940a;
}
.col-md-6.text-right.no-padding {
	font-size: 13px;
	margin-top: 31px;
	color: #FD7405
}
/****** LOGIN MODAL ******/
.loginmodal-container {
	padding: 30px;
	max-width: 350px;
	width: 100% !important;
	background-color: #F7F7F7;
	margin: 0 auto;
	border-radius: 2px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	font-family: roboto;
}
.loginmodal-container h1 {
	text-align: left;
	font-size: 15px;
	font-family: berkshire_swashregular;
}
.loginmodal-container input[type=submit] {
	width: 100%;
	display: block;
	margin-bottom: 10px;
	position: relative;
}
.loginmodal-container input[type=text], input[type=password] {
	height: 44px;
	font-size: 16px;
	width: 100%;
	margin-bottom: 10px;
	-webkit-appearance: none;
	background: #fff;
	border: 1px solid #d9d9d9;
	border-top: 1px solid #c0c0c0;
	/* border-radius: 2px; */
	padding: 0 8px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	font-family: bodoniflfregular2;
}
.loginmodal-container input[type=text]:hover, input[type=password]:hover {
	border: 1px solid #b9b9b9;
	border-top: 1px solid #a0a0a0;
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}
.loginmodal {
	text-align: center;
	font-size: 14px;
	font-family: GE Inspira;
	font-weight: 700;
	height: 36px;
	padding: 0 8px;/* border-radius: 3px; *//* -webkit-user-select: none;
  user-select: none; */
}
.loginmodal-submit {
	/* border: 1px solid #3079ed; */
	border: 0px;
	color: #fff;
	text-shadow: 0 1px rgba(0,0,0,0.1);
	background-color: #572C73;
	padding: 17px 0px;
	font-family: GE Inspira;
	font-size: 20px;/* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}
.loginmodal-submit:hover {
	/* border: 1px solid #2f5bb7; */
	border: 0px;
	text-shadow: 0 1px rgba(0,0,0,0.3);
	background-color: #F47315;/* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}
.loginmodal-container a {
	color: #666;
	display: inline-block;
	font-weight: 400;
	opacity: 1.00;
	text-align: center;
	text-decoration: none;
	transition: opacity 0.5s ease 0s;
	font-size: 14px;
}
.loginmodal-container a:first-child {
	background-color: #F47315;
	color: #fff;
	border-radius: 2px;
	padding: 6px 12px;
}
.login-help {
	font-size: 12px;
}
.loginmodal-container img {
	margin-top: 10px;
}
.colorgraph {
	height: 5px;
	border-top: 0;
	background: #c4e17f;
	border-radius: 5px;
	background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}
#login-modal2 .loginmodal-container {
	max-width: 100% !important;
}
#login-modal2 .loginmodal-container .form-control.input-lg {
	border-radius: 0;
}
.register-btn {
	background-color: #572c73;
	border: 0 none;
	color: #fff;
	font-family: GE Inspira;
	font-size: 20px;
	padding: 17px 0;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}
.login-btn {
	background-color: #F47315;
	border: 0 none;
	color: #fff;
	font-family: GE Inspira;
	font-size: 20px;
	padding: 17px 0;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}
.col-md-3.col-sm-3.col-xs-12.no-padding.how-it-works {
	background: #fff none repeat scroll 0 0;
}
.my-cart {
	background-color: #332330;
	color: #fff;
	float: right;
	font-size: 12px;
	padding: 17px 0 16px;
	text-align: center;
	width: 113px;
	font-family: GE Inspira;
}
footer .col-md-2.col-sm-4.col-xs-6 ul:first-child {
	padding-left: 0;
}
/*partner with us*/
.partner {
	background: url(../images/partner-bg.jpg) no-repeat;
	width: 100%;
	/*height: 100%;*/
}
.partner a {
	color: #fff;
}
.partner p {
	color: #fff;
	text-align: left;
}
.partner_with {
	background: rgba(41,14,57,0.80);
	border-radius: 8px;
	width: 70%;
	margin: 150px auto 246px;
	padding: 20px 70px;
	color: #fff;
	text-align: center;
}
.partner_with h1 {
	color: #fd8f19;
	margin: 0px;
	padding: 0px;
}
.partner_with h2 {
	margin: 0px;
	padding: 10px 0 20px;
}
.partner .btn.btn-warning {
	border: 0 none;
	border-radius: 1px !important;
	color: #000;
	font-size: 18px;
	margin-top: 0;
	padding: 10px 20px;
}
.partner .form-control {
	height: 46px;
	border-radius: 0px;
}
.partner_with h4 {
	text-align: left;
}
.fa-star {
	color: #fd8f19;
	padding-right: 8px;
	font-size: 12px !important;
}
.inner_menu {
	box-shadow: 0px 5px 8px #2f2f2f;
	border: none !important;
}
.space1 {
	margin-top: 20px;
}
.bdr {
	width: 100%;
	height: 10px;
	background: #0c9bc4;
	box-shadow: 1px 3px 9px #303130;
}
.what {
	background: rgba(51, 51, 51, 0.8) none repeat scroll 0 0;
	color: #fff;
	font-size: 25px;
	margin: 0 auto;
	padding: 13px;
	text-align: center;
	text-transform: uppercase;
	width: 32%;
}
.down_arrow {
	margin: 0 auto 50px;
	width: 60px;
	height: 20px;
	background: url(../images/down-arrow.png) no-repeat center;
}
.add {
	margin: 20px auto;
}
.inner_bg {
	background: url(../images/inner_bg.jpg) repeat;
	width: 100%;
}
.inner_bg h1 {
	font-weight: 800;
}
.privacy {
	background: #fff;
	border: 1px solid #ccc;
	padding: 20px;
	box-shadow: 0 4px 5px #ccc;
}
.privacy h2 {
	padding: 0px 0 15px;
	margin: 0px;
	font-size: 20px;
	font-weight: 600;
}
.privacy p {
	font-size: 16px;
}
.privacy span {
	color: #f7750c;
	font-size: 18px;
}
.shadow{ background:url(../images/shadow.png) no-repeat top; width:100%; height:70px; float:left;}
.panel-body p{ font-size:16px;}
.panel-body span{ font-size:16px; color:#da7d04;}
.panel-title > a {
    font-size: 20px !important;
}
.panel-title > a:hover {
    text-decoration:none;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
 .partner_with{ width:100%;}
 .what{ width:50%;}
}
/*-----------23/5/16-------------------------*/
.partner_with textarea{
    width: 100%;
    float: left;
    min-height: 100px;
    padding: 15px;
    color: #000;
}
.partner_with i{
    position: absolute;
}
.partner_with input{
    width: 100%;
    padding: 5px 10px;
    margin-top: 7px;
    color: #000;
}
.partner_with span input{

    padding: 5px 10px;
    margin-top: 7px;
}
.telph{
    margin-right: 10px;
}
.no-padding-right{
    padding-right: 0px;
}
.okbtn{
    text-align: center;
}
::-webkit-input-placeholder {
   color:#000;
    font-weight: 600;
}

:-moz-placeholder { /* Firefox 18- */
   color: #000;
     font-weight: 600;
}

::-moz-placeholder {  /* Firefox 19+ */
   color:#000;
     font-weight: 600;
}

:-ms-input-placeholder {
   color:#000;
     font-weight: 600;
}
@media(max-width:768px) and (min-width:320px){


}
/*==============NIJIL============*/
.inner-panel{
	background: #fff;
	border: 1px solid #ccc;
	padding: 20px;
	box-shadow: 0 4px 5px #ccc;
}
.careers{ padding:10px 0 0 0;}
.careers img{ float:left; margin:0 40px 40px 0;}
.careers p{ color:#676767; font-size:15px; text-align:justify;}
.careers-list{ border:1px solid #f47315; padding:10px; margin-bottom:25px;}
.careers-list h2{ color:#f47315; font-size:18px; font-weight:bold;}
.careers-list h3{ color:#030303; font-size:18px; padding:0 0 5px; margin:0;}
.careers-list p{ font-size:15px; color:#535353;}
.careers-list h4{ color:#030303; font-size:16px; padding:0; margin:0;}
.careers-list span{ color:#000;}
.careers-list .resume{ float:right; background:url(../images/more-icon.gif) 0px 0px no-repeat; padding:5px 0 5px 35px; font-size:16px; color:#565656; font-weight:bold;}
.careers-list .resume a{ color:#ff6b00;}

.blog-panel .col-md-8, .blog-panel .col-md-4{ padding:0; margin:0;}
.blog-img img{ width:100%;}
.blog-cnt{ margin-bottom:40px;}
.blog-cnt p{ font-size:15px; color:#676767;}
.blog-cnt .headline{ padding:15px 0 0 0;}
.blog-cnt .headtitle h2{ font-size:18px; font-weight:bold; display:block;}
.blog-cnt .headtitle h2 a{ color:#303030;}
.info-data{ color:#676767;}
.info-data .fa{ color:#f47315;}
.info-data li {
    margin-right: 20px;
}
.blog-cnt .date{ width:70px; height:70px; background:#f47315; border-radius:50%; text-align:center; color:#FFF; padding:20px 0 0 0; font-size:15px; line-height:15px; float:left; margin-right:8px;}

.blog-lft{ padding:0 0 0 50px;}
.blog-lft .srch{
	background:#0f181f;
	border:0px;
	color:#d4d4d4;
	padding-left:20px;
    font-size: 15px;
    height: 42px;
}
.blog-lft .rch-btn{ background:#fbb030; color:#7f4117; border:0px; border-radius:0px; height:42px;}
.blog-lft h3, .popularpost h3{ color:#010101; text-transform:uppercase; font-size:18px; font-weight:bold; background:url(../images/title-brdr.gif) left bottom no-repeat; padding-bottom:10px; margin-bottom:20px;}
.blog-categories li a {
    display: block;
    line-height: 36px;
	color:#818080;
	border-bottom:1px solid #f2f2f2;
}
.popularpost .item-post img {
    float: left;
    margin-right: 10px;
    width: 116px;
}
.popularpost h6{ color:#000; font-size:15px; font-weight:bold; padding:0; margin:0;}
.popularpost p{ color:#000; padding:0; margin:0;}
.popularpost p span{ color:#f47315; display:block;}
.popularpost .item-post{ margin-bottom:15px; padding-bottom:15px; border-bottom:1px solid #f2f2f2;}
.popularpost .item-post:last-child {
    border:0px;
}
.gallery-image {
}
.gallery-image a {
    float: left;
    margin-bottom:1px;
    margin-right:1px;
    max-width: 33%;
}
.gallery-image img{ width:100%;}
.social-panel{ margin-top:20px; border-top:1px solid #e9eaeb; border-bottom:1px solid #e9eaeb; padding:10px 0 0 0;}
.social-panel span{ color:#ff6b00;}
.blog-form-box .form-control{ border-radius:0px; border:1px solid #ededed;}
.blog-form-box .form-row{
    margin-bottom: 20px;
}
.blog-form-box h3{ background:url(../images/title-brdr.gif) left bottom no-repeat; padding:10px 0px;margin-bottom:20px;color: #010101; font-size: 18px; font-weight: bold;}
.cmnt{ background:#f47315; border:0px; color:#FFF; font-size:16px;}

ul.social li {
    color: #bdbdbd;
    display: inline-block;
    font-size: 13px;
    height: 22px;
    padding: 0 0 0 5px;
    text-align: center;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
}
.social a {
    color: #bdbdbd;
    font-size: 16px;
}
.social a:hover {
    color: #f47315;
}
/*============== NIJIL --- END==============*/
